Dear @@Model.FirstName,

<p>Thank you for joining us at @@Model.EventName.</p>

<p>It was an honor to have you in attendance. We hope that you found the event to be joyful. Please follow this @Html.Raw("<a href='@Model.PermaLink'>link</a>") to view your photo.</p>

<p>Again, we sincerely thank you for being part of @@Model.EventName.</p>

<p>
Sincerely,<br />
@@Model.UserName
</p>