<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Dev\vdR\fotoShout\FotoShoutApiSqlExpress.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/api</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FotoShoutApi.Models.FotoShoutDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False" Name="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FotoShoutApi.Models.FotoShoutDbContext, fotoShoutApi" MigrationConfiguration="FotoShoutApi.Migrations.Configuration, fotoShoutApi" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FotoShoutApi.Models.FotoShoutDbContext_DatabasePublish" Order="2" Enabled="False">
          <Destination Path="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False" Name="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FotoShoutApi.Models.FotoShoutDbContext_DatabasePublish_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FotoShoutApi.Models.FotoShoutDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FotoShoutApi.Models.FotoShoutDbContext_DatabasePublish-Web.config Connection String">
      <ParameterValue>Data Source=.\SQLExpress;Initial Catalog=fotoShoutDb;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>