@{
    ViewBag.Title = "About";
    ViewBag.AppName = "FotoShout Portal";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Annotating photos with guest info.
    </p>

    <p>
        Publishing photos to your favorite sites.
    </p>

    <p>
        Reviewing your events.
    </p>
</article>

