<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.11.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
  </configSections>
  <log4net debug="true">
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layput type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layput>
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\..\..\ProgramData\fotoShout\Logs\PublishingService.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- Count by seconds -->
    <add key="TimerInterval" value="60" />
    <!-- FotoShout Web API Info-->
    <add key="FsApiBaseAddress" value="http://na1.fotoshout.com/api/" />
    <add key="FsApiPrefix" value="fs1" />
    <!-- Count by seconds -->
    <add key="PublishDelay" value="5" />
  </appSettings>
  <connectionStrings>
    <add name="ServerConnection" providerName="System.Data.SqlClient" connectionString="Data Source=dev-fotoshout;Initial Catalog=fotoShout;User ID=fotoshout;Password=password"/>
  </connectionStrings>
</configuration>